body {
  font-family: 'Poppins', sans-serif;
}

.navbar-brand{
  font-weight: 700;
}

#score-container {
  font-size: 30px;
  font-weight: bold;
  padding-top: 100px;
}

.trivia-container {
  margin-top: 400px;
  border-radius: 15px;
}


